#N
trap

#E
mem_axi_awvalid
mem_axi_awready
mem_axi_awaddr\[\d+\]
mem_axi_awprot\[\d+\]

$2

mem_axi_wvalid
mem_axi_wready
mem_axi_wdata\[\d+\]
mem_axi_wstrb\[\d+\]

$2

mem_axi_bvalid
mem_axi_bready

$2

mem_axi_arvalid
mem_axi_arready
mem_axi_araddr\[\d+\]
mem_axi_arprot\[\d+\]

$2

mem_axi_rvalid
mem_axi_rready
mem_axi_rdata\[\d+\]

#W
clk
resetn
